body {
    background-color:cornsilk;
    color:purple;
}
h1 {
    font-family:'Courier New', Courier, monospace;
    font-size:40px;
    text-align:center;
}
.center {
    text-align: center;
    font-family:'Courier New', Courier, monospace
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size:large;
}
p {
    color:palevioletred;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h4 {
    background-color: plum;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}
a:link {
    color:mediumorchid;
    background-color: peachpuff;
    border-radius: 10px;
    padding: 2px;
}
#red {
    color:hotpink;
}
#blue {
    color: mediumturquoise;
}